{% extends "base.html" %}

{% include "navbar.html" %}

{% block content %}
<div class="container">
    <div class="row mt-50">
        <div class="col-md-8 col-md-offset-2">
            <h2 class="text-center heading-separator" style="color:white">Add Site Data</h2>
            <form method="POST" action="{{ url_for('.add_site')}}">
                    <div class="col-sm-12">
                        <div class="form-group">
                          <label for="list_company" style="color:white">Name:</label>
                          <input type="text" placeholder="Do Not Use Quotes" class="form-control" id="name" name="name">
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                          <label for="address" style="color:white">Address:</label>
                          <input type="text" placeholder="123 Rocket Way" class="form-control" id="address" name="address">
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                          <label for="city" style="color:white">City:</label>
                          <input type="text" placeholder="Big Town" class="form-control" id="city" name="city">
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                          <label for="state" style="color:white">State:</label>
                          <input type="text" placeholder="Wyoming" class="form-control" id="state" name="state">
                        </div>
                    </div>
      
                    <div class="col-sm-12">
                        <div class="form-group">
                          <label for="zipcode" style="color:white">Zip:</label>
                          <input type="text" placeholder="12345" class="form-control" id="zipcode" name="zipcode">
                        </div>
                    </div>

                    <div class="row">
                      <label for="timezone" style="color:white">Time Zone:</label>
                      <select class="selectpicker" name="timezone">
                          <option>unselected</option>
                              <option>NST-New Zealand Standard Time</option>
                                <option>CTT-China Standard Time</option>
                                <option>JST-Japan Standard Time</option>
                                <option>ECT-Central European Time</option>
                                <option>CTT-China Standard Time</option>
                                <option>EST-Eastern Standard Time</option>
                                <option>CST-Central Standard Time</option>
                                <option>MST-Moutain Standard Time</option>
                                <option>PST-Pacific Standard Time</option>
                      </select>
                        <label for="country" style="color:white">Country:</label>
                      <select class="selectpicker" name="country">
                          <option>unselected</option>
                              <option>United States</option>
                                <option>Canada</option>
                                <option>United Kingdom</option>
                                <option>Germany</option>
                                <option>Japan</option>
                                <option>Austrailia</option>
                                <option>France</option>
                                <option>Brazil</option>
                                <option>India</option>
                      </select>
                    </div>

                </div>
                <div class="text-center mt-20">
                    <button class="btn btn-green">Add Site</button>
                </div>
            </form>
        </div>
    </div><


  {% endblock %}
