{% extends "base.html" %}

{% include "navbar.html" %}


{% block content %}

<div class="col-sm-6">
    <div class="form-group">
      <label for="message" style="color:white">System Message:</label>
      <input type="text" readonly class="form-control" id="message" name="message" placeholder="{{ message }}">
    </div>
</div>

        <div class="col-lg-8">
                <!-- seo fact area start -->
                <div class="card">
                      <div class="card-body"
                        <h1 style="color:white">Fuctions of this application</h1><br>
                         <p>1. Get sites, an example of HTTP GET<br>
                         2. Create site, an example of HTTP POST<br>
                         3. Update site, an example of HTTP PUT<br>
                         4. Delete site, an example of HTTP Delete</p>

                        <p> With these four functions you can implement C.R.U.D. functions in Central.</p>

                        <p> Use the dropdown <bold>Actions</bold> menu and choose a function</p>
                </div>
        </div>




      <script type="text/javascript">
        $(document).ready(function(){$('#example').DataTable();});
      </script>


  {% endblock %}
