{% extends "base.html" %}

{% include "navbar.html" %}

{% block content %}
        <div class="container">

            <div class="row mt-50">
                <div class="col-md-8 col-md-offset-2">
                    <h2 class="text-center heading-separator" style="color:white">Choose a Site to Update</h2>
                    <form method="POST" action="{{ url_for('.site_update')}}">
                      <div class="col-sm-4">
                        <label for="scopeName" style="color:white">Name:</label>
                          <select class="selectpicker" name="scopeName">
                              <option>unselected</option>
                              {% for site in sites %}
                                  <option>{{ site['scopeName'] }}</option>
                              {% endfor %}
                          </select>


                        <div class="text-center mt-20">
                            <button class="btn btn-green">UPDATE SITE</button>
                        </div>
                    </form>
                </div>
            </div><


  {% endblock %}
